/* styles.css */
/* :root {
    --lm-icon-bg: brightness(100%);
    --dark-bg: #141D2F;
    --dark-bg-sub:#1E2A47; 
    --light-bg: #F6F8FF;
    --light-bg-sub:#FEFEFE;
} */

:root {
    --dark-bg: #141D2F;
    --dark-bg-sub: #1E2A47;
    --light-bg: #F6F8FF;
    --light-bg-sub: #FEFEFE;
    --accent-color: #0079FF;
    --accent-color-hover: #60ABFF;
    --accent-color-active: #60ABFF;
    --lm-icon-bg: brightness(100%);
    --no-result-color: #f74646;
}

body {
    margin: 0;
    padding: 0;
    background: var(--dark-bg);
    color: #FFF;
    font-family: 'Space Mono', monospace;
    width: 100%;
    height: 100%;
    transition: background-color 0.3s, color 0.3s;  
}

.container {
    margin: 1.94rem 1.5rem;
    width: auto;
    height: auto;
  }

/* Dark mode styles */
body.dark-mode {
    background: var(--dark-bg);
    color: #FFF;
    
}

body.light-mode {
    background: var(--light-bg);
    color: #000;
}

.search .dark-mode {
    background-color: var(--dark-bg-sub);
    color: #FFF;   
}

.light-mode .search{
    background-color: var(--light-bg-sub);
    color: #000;
    
}

.dark-mode .octocat-profile  {
    background-color: var(--dark-bg-sub);
    color: #FFF;
}

.light-mode .octocat-profile {
    background-color: var(--light-bg-sub);
    color: #000;
}

body.dark-mode .stats {
    background-color: var(--dark-bg);
    color: #FFF;
}

body.light-mode .stats {
    background-color: var(--light-bg) ;
    color: #000;
}


.dark-mode .search input {
    color: #FFF; /* Light gray color for placeholders in dark mode */
  }

.light-mode .search input {
    color: #000; /* Light gray color for placeholders in dark mode */
  }


/* Dark mode styles for the toggle text */
body.dark-mode #toggleText {
    color: #fff;
}
  
/* Light mode styles for the toggle text */
body.light-mode #toggleText {
    color: #222;
}


.top-nav {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 6.875rem;
}

.top-nav h1 {
    font-size: 1.625rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.top-nav p {
    text-transform: uppercase;
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.15625rem;
}
.top-nav a:hover {
    color: #4B6A9B;
}


.top-nav-right {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}


.search {
    margin-top: 2.19rem;
    align-items: center;
    text-align: center;
    gap: 0.56rem;
    width: 20.4375rem;
    height: 3.75rem;
    flex-shrink: 0;
    border-radius: 0.9375rem;
    background: var(--dark-bg-sub);
    display: inline-flex;
}

.search img {
    width: 1.253rem;
    height: 1.25rem;
    padding: 1.25rem 1rem;
    transition: fill 0.3s ease;
}


.search input::placeholder{
    height: 100%;
    font-size: 0.68rem;
    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: 400;  
}
.search input {
    width: 50%;
    height: 1.5625rem;
    padding: 0rem;
    background-color: transparent;
    border: none;
    color: #FFF;
    font-family: 'Space Mono', monospace;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5625rem;
    
}
.red-placeholder::placeholder {
    color: var(--no-result-color); /* Red color for the placeholder */
  }

button {
    width: 5.25rem;
    height: 2.875rem;
    flex-shrink: 0;
    border-radius: 0.625rem;
    background: var(--accent-color);
    color: #FFF;
    font-family: Space Mono;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: none;
}

button:hover {
    background: var(--accent-color-hover);
}

button:active {
    background: var(--accent-color-active);
}


.octocat-profile {
    width: 20.4375rem;
    height: auto;
    border-radius: 0.9375rem;
    background: var(--dark-bg-sub);
    margin-top: 1rem;
    margin-bottom: 4.94rem;
   
}

.octocat-profile .profile {
    display: inline-flex;
    flex-direction: row;

}
.profile {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}



.profile img {
    width: 4.375rem;
    height: 4.375rem;
    border-radius: 50%;
    flex-shrink: 0;
    margin-top: 2rem;
    
}

.profile-info {
    margin-left: 1.22rem;
    margin-top: 2.06;
}
.profile-info h3{
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0;

}

.profile-info .username {
    padding: 0;
    margin: 0;
}

.profile-info .date-joined {
    margin-top: 0.36rem;
}
.username{
    color: var(--accent-color);
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.date-joined {
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: auto;
}

.message {
    padding-top: 0;
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5625rem;
    margin-top: 2.12rem;
    margin-right: 1.5rem;
    margin-left: 1.5rem;

}

.stats {
    width: 17.4375rem;
    height: 5.3125rem;
    flex-shrink: 0;
    border-radius: 0.625rem;
    background: var(--dark-bg);
    margin: 1.44rem 1.5rem 1.5rem 1.5rem;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

.info {
    font-size: 0.6875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 1.5rem;
    padding: 0rem 1rem;
    text-align: center;
}

.number {
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 0rem 1rem;
    text-transform: uppercase;
   
}

.stat-repo {
    margin: 0.52rem auto;
}

a { color: inherit; } 

.img-info img {
    filter: var(--lm-icon-bg);

}

.bottom-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem 0;
    margin-left: 1.5rem;
    font-size: 0.8125rem;
    z-index: 1;
}

.other-info {
    width: 100%;
    display: flex;
    gap: 14px;
    justify-content: left;
    align-items: center;
}

.other-info p {
    overflow-wrap: break-word;
  }
  
.other-info a {
    word-break: break-all;
    text-decoration: none;
  }

.other-info a:hover {
    text-decoration: underline;
}

.icon {
    /* Set the initial color of the icon */
    filter: var(--lm-icon-bg);
    transition: filter 0.3s ease;
}

 /* Change the color on hover */
 .icon:hover {
    filter: brightness(30%) sepia(100%) hue-rotate(120deg);
  }

.not-available-text {
    color: #4B6A9B;
}


/*Tablet style */
@media screen and (min-width: 48rem) {
    .container {
        margin-left: 6.12rem;
        margin-top: 8.75rem;
        margin-right:  6.06rem;
        width: 48rem;
        height: 64rem;
        align-items: center;
        justify-content: center;
        
    }
    .top-nav {
        gap: 22.44rem;
    }

    .search {
        width: 35.8125rem;
        height: 4.3125rem;
        border-radius: 0.9375rem;
        background: var(--dark-bg-sub);
    }

    .search img {
        width: 1.50363rem;
        height: 1.5rem;
        padding: 1.25rem 1rem;
    }

   .search input::placeholder{
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5625rem;
        
    }

    .search input {
        width: 80%;
        
    }

    

    button {
        margin-right: 1rem;
        width: 6.625rem;
        height: 3.125rem;
        
    }

    .octocat-profile {
        width: 35.8125rem;
        height: auto;
       
    }
    .profile {
        margin-left: 2.5rem;
        margin-right: 2.5rem;
        
    }

    .profile img {
        width: 7.3125rem;
        height: 7.3125rem;
        margin-top: 2.5rem;
        
    }

    .profile-info {
        margin-left: 2.56rem;
        padding-top: 1.25rem;
        
    }

    .profile-info h3{
        font-size: 1.625rem;
    }

    .username{
        font-size: 0.8125rem;
    }
    
    .date-joined {
        font-size: 0.9375rem;
    }

    .message {
        font-size: 0.9375rem;
        margin-right: 2.5rem;
        margin-left: 2.5rem;
    }

    .stats {
        width: 30.8125rem;
        height: 5.3125rem;
    }
    .info {
        font-size: 0.8125rem;
        text-align: left;
        padding-top: 1rem;
       
    }
    .number {
        font-size: 1.375rem;  
        text-align: left;
        padding-bottom: 1.06rem;

      
    }   
    .bottom-section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-left: 1.5rem;
        position: relative;
        top: -1rem;

    }
   
}

/*Desktop style */
@media screen and (min-width: 90rem){
    .container {
        height: 56.25rem;
        align-items: center;
        justify-content: center;
        margin: 9rem auto;
    }

    .top-nav {
        gap: 32.06rem;
    }

    .search {
        width: 45.625rem;
        height: 4.3125rem;
    }

    .search img {
        width: 1.50363rem;
        height: 1.5rem;
        padding-left: 2rem;
    }

    button {
        margin-left: 15rem;
        width: 6.625rem;
        height: 3.125rem;    
    } 

    .octocat-profile {
        width: 45.625rem;
        height: auto;
        /* padding: 3rem; */    
    }

    .profile img {
        width: 7.3125rem;
        height: 7.3125rem;
    }
    .profile-info{
        padding-bottom: 0;
    }


    .profile-info h3{
        font-size: 1.625rem;  
        width: auto; 
    }

    .username{
        font-size: 1rem;
    }
    
    .date-joined {
        font-size: 0.9375rem;
        position: relative;
        top: -5.5rem;
        right: -16rem;
    }

    .message {
        margin-top: 0rem;
        padding: 0!important;
        margin-left: 12.62rem;
        position: relative;
        top: -3rem;
       
    }

    .stats {
        width: 30rem;
        height: 5.3125rem;
        margin-left: 12.62rem;
        margin-top: 0;
        position: relative;
        top: -2rem;
    }

    .bottom-section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-left: 12.62rem;
        top: -2.5rem;

    }

   .search input::placeholder{
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5625rem;
    
    }
    .search input {
        width: 18.875rem;      
    }



}
